### request 사용법

In [4]:
# 서버에 페이지 정보를 요청할 때 사용하는 라이브러리
import requests as req

In [29]:
url = "https://www.naver.com/"
res = req.get(url)
# response[200] 잘 응답되었습니다.

In [11]:
# 요청한 정보의 페이지를 보기
res.text

TypeError: bad operand type for unary -: 'str'

# Melon 홈페이지 정보 가져오기

In [17]:
m_url = "https://www.melon.com/"
res = req.get(m_url)
# 406 => 요청을 거부했다.

In [16]:
res

In [18]:
# 컴퓨터가 아닌 사람으로 속이는 작업(headers)
h = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36"}

In [19]:
res = req.get(m_url, headers = h)

In [21]:
res

In [25]:
res.text

# BeautifulSoup
--가져온 데이터에서 내가 원하는 내용만 추출할 때 사용

In [26]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\smhrd\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\smhrd\anaconda3\lib\site-packages (from beautifulsoup4) (2.0.1)

In [27]:
from bs4 import BeautifulSoup as bs

In [31]:
#bs(어떤걸 가공할건지 , 어떻게 가공할건지 - 파싱방법)
soup = bs(res.text, 'lxml')

In [34]:
# find_all = 특정 데이터를 모두 찾아오는 기능(태그, 클래스/아이디)
result = soup.find_all('a', class_ = 'nav') # 숲에서 찾기

In [35]:
result

[<a class="nav" data-clk="svc.mail" href="https://mail.naver.com/"><i class="ico_mail"></i>메일</a>,
 <a class="nav" data-clk="svc.cafe" href="https://section.cafe.naver.com/">카페</a>,
 <a class="nav" data-clk="svc.blog" href="https://section.blog.naver.com/">블로그</a>,
 <a class="nav" data-clk="svc.kin" href="https://kin.naver.com/">지식iN</a>,
 <a class="nav" data-clk="svc.shopping" href="https://shopping.naver.com/">쇼핑</a>,
 <a class="nav" data-clk="svc.pay" href="https://order.pay.naver.com/home">Pay</a>,
 <a class="nav" data-clk="svc.tvcast" href="https://tv.naver.com/"><i class="ico_tv"></i>TV</a>,
 <a class="nav" data-clk="svc.dic" href="https://dict.naver.com/">사전</a>,
 <a class="nav" data-clk="svc.news" href="https://news.naver.com/">뉴스</a>,
 <a class="nav" data-clk="svc.stock" href="https://finance.naver.com/">증권</a>,
 <a class="nav" data-clk="svc.land" href="https://land.naver.com/">부동산</a>,
 <a class="nav" data-clk="svc.map" href="https://map.naver.com/">지도</a>,
 <a class="nav" data-clk="svc.movie" href="https://movie.naver.com/">영화</a>,
 <a class="nav" data-clk="svc.vibe" href="https://vibe.naver.com/">VIBE</a>,
 <a class="nav" data-clk="svc.book" href="https://book.naver.com/">책</a>,
 <a class="nav" data-clk="svc.webtoon" href="https://comic.naver.com/">웹툰</a>]

In [37]:
result[2] # 인덱스 2번

In [38]:
result[2].text #text하면 다 없어지고 내용만 남음

'블로그'

In [39]:
# 파이썬 반복문
for i in result :
    print(i.text)

메일
카페
블로그
지식iN
쇼핑
Pay
TV
사전
뉴스
증권
부동산
지도
영화
VIBE
책
웹툰

# 코로나 뉴스 타이틀 가져오기

In [ ]:
1. 가져오고 싶은 데이터가 뭔지 주소를 복사해서 url에 넣는다.
2. url에 req. get(url)    해 요청을 한다.
3. 그렇게 응답받은 리스폰스를 bs(Res.text, '??/')

In [42]:
corona_url = "https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%EC%BD%94%EB%A1%9C%EB%82%98"

In [43]:
res = req.get(corona_url)

In [44]:
res = req.get(corona_url, headers = h)

In [45]:
res

In [46]:
soup = bs(res.text, 'lxml')

In [47]:
result = soup.find_all('a', class_ = 'news_tit')

In [50]:
result

[<a class="news_tit" href="http://news.mt.co.kr/mtview.php?no=2020123009360463838" onclick="return goOtherCR(this, 'a=nws_all*h.tit&amp;r=1&amp;i=880000C2_000000000000000004521381&amp;g=008.0004521381&amp;u='+urlencode(this.href));" target="_blank" title="코로나 재유행에 소비 위축 본격화…주식·반도체는 '활활'(종합)"><mark>코로나</mark> 재유행에 소비 위축 본격화…주식·반도체는 '활활'(종합)</a>,
 <a class="news_tit" href="http://yna.kr/AKR20201230024151002?did=1195m" onclick="return goOtherCR(this, 'a=nws_all*h.tit&amp;r=3&amp;i=880000D8_000000000000000012109153&amp;g=001.0012109153&amp;u='+urlencode(this.href));" target="_blank" title="코로나 재확산한 11월, 소비 감소…생산·투자 증가(종합)"><mark>코로나</mark> 재확산한 11월, 소비 감소…생산·투자 증가(종합)</a>,
 <a class="news_tit" href="http://yna.kr/AKR20201230013751071?did=1195m" onclick="return goOtherCR(this, 'a=nws_all*a.tit&amp;r=6&amp;i=880000D8_000000000000000012109084&amp;g=001.0012109084&amp;u='+urlencode(this.href));" target="_blank" title="'확진자 1위' 미국에서도 변이 코로나19 첫 사례 나왔다(종합)">'확진자 1위' 미국에서도 변이 <mark>코로나</mark>19 첫 사례 나왔다(종합)</a>,
 <a class="news_tit" href="https://biz.chosun.com/site/data/html_dir/2020/12/30/2020123000803.html?utm_source=naver&amp;utm_medium=original&amp;utm_campaign=biz" onclick="return goOtherCR(this, 'a=nws_all*h.tit&amp;r=8&amp;i=88127058_000000000000000000643650&amp;g=366.0000643650&amp;u='+urlencode(this.href));" target="_blank" title="코로나 신규 확진자 1050명... 사망자 20명(종합)"><mark>코로나</mark> 신규 확진자 1050명... 사망자 20명(종합)</a>]

In [52]:
result[0]

<a class="news_tit" href="http://news.mt.co.kr/mtview.php?no=2020123009360463838" onclick="return goOtherCR(this, 'a=nws_all*h.tit&amp;r=1&amp;i=880000C2_000000000000000004521381&amp;g=008.0004521381&amp;u='+urlencode(this.href));" target="_blank" title="코로나 재유행에 소비 위축 본격화…주식·반도체는 '활활'(종합)"><mark>코로나</mark> 재유행에 소비 위축 본격화…주식·반도체는 '활활'(종합)</a>

In [53]:
result[1]

<a class="news_tit" href="http://yna.kr/AKR20201230024151002?did=1195m" onclick="return goOtherCR(this, 'a=nws_all*h.tit&amp;r=3&amp;i=880000D8_000000000000000012109153&amp;g=001.0012109153&amp;u='+urlencode(this.href));" target="_blank" title="코로나 재확산한 11월, 소비 감소…생산·투자 증가(종합)"><mark>코로나</mark> 재확산한 11월, 소비 감소…생산·투자 증가(종합)</a>

In [51]:
result[2]

<a class="news_tit" href="http://yna.kr/AKR20201230013751071?did=1195m" onclick="return goOtherCR(this, 'a=nws_all*a.tit&amp;r=6&amp;i=880000D8_000000000000000012109084&amp;g=001.0012109084&amp;u='+urlencode(this.href));" target="_blank" title="'확진자 1위' 미국에서도 변이 코로나19 첫 사례 나왔다(종합)">'확진자 1위' 미국에서도 변이 <mark>코로나</mark>19 첫 사례 나왔다(종합)</a>

In [54]:
result[0].text

"코로나 재유행에 소비 위축 본격화…주식·반도체는 '활활'(종합)"

In [55]:
for i in result :
    print(i.text)

코로나 재유행에 소비 위축 본격화…주식·반도체는 '활활'(종합)
코로나 재확산한 11월, 소비 감소…생산·투자 증가(종합)
'확진자 1위' 미국에서도 변이 코로나19 첫 사례 나왔다(종합)
코로나 신규 확진자 1050명... 사망자 20명(종합)

In [58]:
url = "https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&query=%EA%B8%B0%EC%95%84&oquery=%EC%BD%94%EB%A1%9C%EB%82%98&tqi=U%2BwPFwp0JXVssS3U4qRssssss7R-247119"
res = req.get(url)

In [59]:
soup = bs(res.text, 'lxml')

- soup.select() # 쌤은 find.all() 거의사용 하지 않음. select 씀

In [61]:
result = soup.select('.news_tit') # .[클래스이름]

In [62]:
for i in result: 
    print(i.text)

보석 본떴다, 항공기 닮았다... 현대기아차, 美 ‘굿디자인 어워드’ 9개 수상
현대차·기아차·제네시스 9종, 美 굿디자인어워드 수상
기아차 노조, 임단협 잠정합의안 가결…30일 조인식
기아차 노조 임단협 가결

# 영화명 가져오기

In [80]:
movie_url = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=cur&date=20201229"
res = req.get(movie_url)

In [81]:
soup = bs(res.text, 'lxml')

In [89]:
result = soup.select('.tit5') # a 태그 안에있는걸 가져와야함 근데 없음. 
# a 태그가 쓰이는 곳 무수히 많아서 원하는 걸 가져 오지 못함. 태그의 이름으로 가져오는걸 비추천
# 클래스 명이나 자식의 이름을 가져오는걸 추천
# 1. div 태그 안의 자식 a 으로 가져오는건?  div > a
## soup.select(.tit5 > a)

In [94]:
result = soup.select('.tit5 > a')

In [96]:
len (result)

46

In [92]:
result

SyntaxError: invalid syntax (<ipython-input-92-a5deff784495>, line 1)

In [97]:
for i in result:
    print(i.text.strip()) #.strip() 엔터를 없애줌
                            #div 있으면 그 공간이 엔터가 됨.

가나의 혼인잔치: 언약
언플랜드
극장판 바이올렛 에버가든
부활: 그 증거
소년시절의 너
페이트 스테이 나이트 헤븐즈필 III.스프링 송
일 포스티노
사랑의 블랙홀
러브레터
타오르는 여인의 초상
글루미 선데이
당신이 잠든 사이에
노트북
조제, 호랑이 그리고 물고기들
온워드: 단 하루의 기적
윤희에게
남매의 여름밤
러브 액츄얼리
담보
해리가 샐리를 만났을 때
화양연화
찬실이는 복도 많지
귀여운 여인
피아노
퐁네프의 연인들
킹덤 오브 헤븐
철도원
아비정전
레토
삼진그룹 영어토익반
패터슨
콜드 워
테넷
런
하나와 앨리스
존 윅 3: 파라벨룸
일대종사
발레리안: 천 개 행성의 도시
펀치 드렁크 러브
도굴
애비규환
프리키 데스데이
조제
이웃사촌
원더 우먼 1984
800

# 네이버 영화 평점 순위

### 평점 가져오기

In [99]:
grade_url = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=cur&date=20201229"
res = req.get(grade_url)

In [100]:
soup = bs(res.text, 'lxml')

In [105]:
result = soup.select('.point')
# result = soup.select('.tit5 > a')

In [108]:
result

In [107]:
for i in range:
    print(i.text.strip())

9.57
9.57
9.49
9.40
9.40
9.26
9.16
9.15
9.12
9.06
9.06
9.06
9.05
9.00
9.00
8.98
8.97
8.94
8.91
8.89
8.85
8.72
8.70
8.66
8.63
8.61
8.59
8.49
8.43
8.36
8.30
8.26
8.20
8.19
8.11
8.01
8.01
7.79
7.73
7.39
7.01
6.86
6.70
5.99
5.70
3.62

In [109]:
// 탑 10
for i in range(0,10):
    print(result[i].text)

9.57
9.57
9.49
9.40
9.40
9.26
9.16
9.15
9.12
9.06

# 데이터프레임 추가하기

In [121]:
import pandas as pd

In [122]:
result = soup.select('.tit5> a')
result2 = soup.select('.point')

In [123]:
title_list = []
rate_list = []
rank_list = []

for i in range(len(result)):
    title_list.append(result[i].text)
    rate_list.append(result2[i].text)
    rank_list.append(i+1)

In [143]:
movie_dic = {'순위' : rank_list, '영화명': title_list, '평점': rate_list }
# 키 값이 컬럼명이 되고 컬럼 명에 따른 값들은 value 값이 된다.

In [144]:
movie = pd.DataFrame(movie_dic)

In [145]:
movie.set_index('순위')

                           영화명    평점
순위
1                 가나의 혼인잔치: 언약  9.57
2                         언플랜드  9.57
3                극장판 바이올렛 에버가든  9.49
4                     부활: 그 증거  9.40
5                      소년시절의 너  9.40
6   페이트 스테이 나이트 헤븐즈필 III.스프링 송  9.26
7                       일 포스티노  9.16
8                      사랑의 블랙홀  9.15
9                         러브레터  9.12
10                 타오르는 여인의 초상  9.06
11                     글루미 선데이  9.06
12                  당신이 잠든 사이에  9.06
13                         노트북  9.05
14            조제, 호랑이 그리고 물고기들  9.00
15               온워드: 단 하루의 기적  9.00
16                        윤희에게  8.98
17                     남매의 여름밤  8.97
18                     러브 액츄얼리  8.94
19                          담보  8.91
20               해리가 샐리를 만났을 때  8.89
21                        화양연화  8.85
22                  찬실이는 복도 많지  8.72
23                      귀여운 여인  8.70
24                         피아노  8.66
25                    퐁네프의 연인들  8.63
26                    킹덤 오브 헤븐  8.61
27                         철도원  8.59
28                        아비정전  8.49
29                          레토  8.43
30                  삼진그룹 영어토익반  8.36
31                         패터슨  8.30
32                        콜드 워  8.26
33                          테넷  8.20
34                           런  8.19
35                     하나와 앨리스  8.11
36                 존 윅 3: 파라벨룸  8.01
37                        일대종사  8.01
38            발레리안: 천 개 행성의 도시  7.79
39                   펀치 드렁크 러브  7.73
40                          도굴  7.39
41                        애비규환  7.01
42                    프리키 데스데이  6.86
43                          조제  6.70
44                        이웃사촌  5.99
45                  원더 우먼 1984  5.70
46                         800  3.62

In [146]:
movie.set_index('순위', inplace = True)
# del movie['순위'] 실행 후 ->컬럼들 중에 순위가 없습니다.

In [140]:
movie

                           영화명    평점
순위
1                 가나의 혼인잔치: 언약  9.57
2                         언플랜드  9.57
3                극장판 바이올렛 에버가든  9.49
4                     부활: 그 증거  9.40
5                      소년시절의 너  9.40
6   페이트 스테이 나이트 헤븐즈필 III.스프링 송  9.26
7                       일 포스티노  9.16
8                      사랑의 블랙홀  9.15
9                         러브레터  9.12
10                 타오르는 여인의 초상  9.06
11                     글루미 선데이  9.06
12                  당신이 잠든 사이에  9.06
13                         노트북  9.05
14            조제, 호랑이 그리고 물고기들  9.00
15               온워드: 단 하루의 기적  9.00
16                        윤희에게  8.98
17                     남매의 여름밤  8.97
18                     러브 액츄얼리  8.94
19                          담보  8.91
20               해리가 샐리를 만났을 때  8.89
21                        화양연화  8.85
22                  찬실이는 복도 많지  8.72
23                      귀여운 여인  8.70
24                         피아노  8.66
25                    퐁네프의 연인들  8.63
26                    킹덤 오브 헤븐  8.61
27                         철도원  8.59
28                        아비정전  8.49
29                          레토  8.43
30                  삼진그룹 영어토익반  8.36
31                         패터슨  8.30
32                        콜드 워  8.26
33                          테넷  8.20
34                           런  8.19
35                     하나와 앨리스  8.11
36                 존 윅 3: 파라벨룸  8.01
37                        일대종사  8.01
38            발레리안: 천 개 행성의 도시  7.79
39                   펀치 드렁크 러브  7.73
40                          도굴  7.39
41                        애비규환  7.01
42                    프리키 데스데이  6.86
43                          조제  6.70
44                        이웃사촌  5.99
45                  원더 우먼 1984  5.70
46                         800  3.62

In [147]:
# del movie['순위']

## 곡명, 가수(맨 앞) 가져오기
- 가수가 여러 개인 것도 있고 한개인 것도 있는데 맨 앞에 있는 것만 가져오기

In [162]:
grade_url = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=cur&date=20201229"
res = req.get(grade_url)

In [163]:
melon2_url = "https://www.melon.com/chart/index.htm"
res = req.get(melon_url)
soup = bs(res.text, 'lxml')

In [185]:
result = soup.select('div.wrap')

In [186]:
result

[]

In [170]:
for i in range:
    print(i.text.strip())

TypeError: 'type' object is not iterable