### 예측하기
- 같으면 0 다르면 1이되는 XOR연산을 모델에게 학습시켜보자.

In [38]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier # 머신러닝모델
from sklearn import metrics # 평가하기위한 라이브러리

In [15]:
data = [
    [0,0,0],
    [1,0,1],
    [0,1,1],
    [1,1,0]
]

In [17]:
df = pd.DataFrame(data, columns = ['P', 'Q', 'P xor Q'])

In [18]:
 df.loc[0:1]

   P  Q  P xor Q
0  0  0        0
1  1  0        1

In [19]:
df.loc[:,'P':'Q']

   P  Q
0  0  0
1  1  0
2  0  1
3  1  1

In [21]:
X = df.iloc[:,0:2] #문제는 머신러닝에서 보통 X로 표현한다
X

   P  Q
0  0  0
1  1  0
2  0  1
3  1  1

In [34]:
y = df.iloc[0:4, 2] # 답 만 출력

In [35]:
y

0    0
1    1
2    1
3    0
Name: P xor Q, dtype: int64

In [36]:
df.iloc[0:4, 2:]# 인덱싱으로 꺼냈냐, 슬라이싱으로 꺼냈냐 차이

   P xor Q
0        0
1        1
2        1
3        0

In [23]:
df.shape

(4, 3)

In [39]:
# 학습하기
knn_model = KNeighborsClassifier(n_neighbors = 1)

In [40]:
knn_model.fit(X, y) # ,기준으로 왼쪽은 문제 오른쪽은 답

KNeighborsClassifier(n_neighbors=1)

In [90]:
pre = knn_model.predict([[0,0],[1,1],[1,0],[0,0]]) # 기계가 답 예측

In [91]:
pre

array([0, 0, 1, 0], dtype=int64)

In [92]:
answer = [0,0,1,0]

In [93]:
metrics.accuracy_score(answer,pre) # 예측한 답 평가

1.0

# AND 모델 학습시키기
- 1과 1일 때만 0

In [188]:
data2 = [
    
    [0, 0, 0],
    [1, 0, 0],
    [0, 1, 1],
    [1, 1, 1]
]
df2 = pd.DataFrame(data2, columns = ['P', 'Q', 'P and Q'])
df2

   P  Q  P and Q
0  0  0        0
1  1  0        0
2  0  1        1
3  1  1        1

In [189]:
X = df2.iloc[:, 0:2]   # questions can be showed with variables 'X'
X

   P  Q
0  0  0
1  1  0
2  0  1
3  1  1

In [190]:
y = df.iloc[:,2]  # answers can be showed with variables 'y'
y

knn_model = KNeighborsClassifier(n_neighbors = 1)  #학습방법정의(knn모델 정의)


knn_model = KNeighborsClassifier(n_neighbors = 1)  #학습방법정의(knn모델 정의)

In [191]:
knn_model.fit(X, y)  # 학습하기     ,를 기준으로 왼쪽은 문제 오른쪽은 답

KNeighborsClassifier(n_neighbors=1)

In [192]:
pre = knn_model.predict([[1,1], [1,1], [1,1], [1,1]])   #문제를 주면서 답을 주라는 명령

In [193]:
answer = [0, 0, 0, 0]  ## 이 답이 정말 맞았는지 평가

In [194]:
metrics.accuracy_score(answer, pre)

1.0