### 변수

In [1]:
# 주석을 사용할때는 #을 사용한다.

In [3]:
1+5 # 1 더하기 5라는 코드

6

In [4]:
num=3

In [6]:
print(num)

3

In [7]:
123

123

In [8]:
"123"

'123'

In [9]:
type('123') # 소괄호 안에 있는 데이터가 어떤 자료형인지 알려준다.

str

In [10]:
type(123)

int

In [11]:
number=10
Number=20 #소문자, 대문자 구분

print(number)
print(Number)

10
20

In [12]:
num1_num2 = 10
print(num1_num2)

10

In [13]:
1a=10 #숫자로 시작할 수 없다.

SyntaxError: invalid syntax (<ipython-input-13-442bddfef1a1>, line 1)

In [ ]:
a1 = 10

In [ ]:
None

In [ ]:
True

In [14]:
a=10
b=15
print(a)
print(b)

10
15

In [15]:
a, b=10,15
print(a)
print(b)

10
15

In [16]:
str1="python"
str2="python"
print(str1)
print(str2)

python
python

In [17]:
x=100
y=200
sum=x+y
print(sum)

300

In [18]:
x=1
y=2

tmp=x
x=2
y=tmp

print(x)
print(y)

2
1

In [19]:
x,y = y,x
print(x)
print(y)

1
2

In [21]:
x= "she's gone"
print(x)

she's gone

In [24]:
s1 = "she's gone"
s2 = "she\'s gone"
print(s1)
print(s2)

she's gone
she's gone

In [25]:
s1 = 'he said that "she is gone"'
s2 = "he said that \"she is gone\""
print(s1)
print(s2)

he said that "she is gone"
he said that "she is gone"

In [29]:
s = '''
여러 줄로 구성된 
문자열을
하나로 대입할 때
'''
print(s)

여러 줄로 구성된
문자열을
하나로 대입할 때

In [28]:
s = """
여러줄로
구성된
문자열을
하나로
대입할
때
"""
print(s)

여러줄로
구성된
문자열을
하나로
대입할
때

In [31]:
s = "여러줄로 구성된 \n문자열을 하나로 대입할 때"
print(s)

s2= "여러줄로 구성된 \n\n문자열을 하나로 대입할 때"
print(s2)

여러줄로 구성된
문자열을 하나로 대입할 때
여러줄로 구성된

문자열을 하나로 대입할 때

In [32]:
s = "여러줄로 구성된 \t문자열을 하나로 대입할 때"
print(s)

여러줄로 구성된 	문자열을 하나로 대입할 때

In [35]:
title = "파이썬은 재밌따. !!!"
print(title[0])
print(title[6])

파
밌

In [1]:
s = "2020년 5월 29일의 날씨는 맑음입니다."

print("날짜 : " + s[0:12])
print("날씨 : " + s[18:20])

print("날짜 :", 1) #콤마 넣으면 자동으로 띄어쓰기
print("날씨 :", s[-6:-4])

날짜 : 2020년 5월 29일
날씨 : 맑음
날짜 : 1
날씨 : 맑음

In [3]:
day = 7

In [4]:
s1 = "오늘은 7월 %d일 입니다." %day

In [7]:
day = 15
s1 = "오늘은 7월 %d일 입니다." %day
print(s1)

오늘은 7월 15일 입니다.

In [9]:
month = 12
day = 8
s = "오늘은 %d월 %d일 입니다." %(month, day)
print(s)

오늘은 12월 8일 입니다.

In [10]:
month = 7
day = 7
s = "오늘은 {}월 {}일 입니다.".format(month,day)
print(s)

오늘은 7월 7일 입니다.

In [14]:
x = 100
y = 200

sum = x+y
print("{}와 {}의 합은 {}입니다.".format(x,y,sum)) #" " 사이에 적는게 중요, 소괄호 주의
print("%d와 %d의 합은 %d 입니다"%(x,y,sum)) 

# 둘의 차이 : format 함수일 떄, 컴퓨터는 무슨 자료형인지 판단하는 부분이 시행 된 다음 실행된다.
# %d는 미리 정수형이 정의되어있어서 컴퓨터는 무슨 자료형인지 판단 안해도 된다.
# format 함수 추천.

100와 200의 합은 300입니다.
100와 200의 합은 300 입니다

In [16]:
num1 = 7
num2 = 2

print(num1/num2)
print(num1%num2)
print(num1//num2) # 정수만.

3.5
1
3

In [17]:
str1 = "안녕"
str2 = "하세요"

print(str1 + str2)

안녕하세요

In [18]:
str1 = "10"
str2 = "7"

print(str1 + str2)

107

In [3]:
num1 = 10
str2 = "7" 

print(str(num1) + str2) # 숫자를 문자로 바꿈
print(num1 + int(str2)) # 문자를 숫자로 바꿈

107
17

In [6]:
num1 = 23
num2 = 3

print("더하기 결과 :", num1+num2)
print("빼기 결과 :", num1-num2)
print("곱하기 결과 :", num1*num2)
print("나누기 결과 :", num1/num2)



print("더하기 결과 : {}".format(num1+num2))

더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 : 7.666666666666667
더하기 결과 : 26

In [ ]:
# input 키보드로부터 값을 입력받을 때 쓰는 함수
# int(문자열) : 문자열을 정수로 변환
# float(문자열) : 문자열을 실수로 변환

num = int(input("정수를 입력하세요 >>"))

In [1]:
num2 = float(input("실수를 입력하세요 >>"))

실수를 입력하세요 >>123

In [6]:
num1 = int(input("정수를 입력하세요 >>"))
num2 = int(input("정수를 입력하세요 >>"))
print("더하기 결과 :", num1+num2)
print("빼기 결과 : {}".format(num1-num2))
print("곱하기 결과 :", num1*num2)
print("나누기 결과 :{}".format(num1/num2))
print("나누기 결과 :", round(num1/num2,2))

정수를 입력하세요 >>3
정수를 입력하세요 >>7
더하기 결과 : 10
빼기 결과 : -4
곱하기 결과 : 21
나누기 결과 :0.42857142857142855
나누기 결과 : 0.43

In [4]:
x = num1/num2

In [5]:
round(x,2)

0.43

In [2]:
py = int(input("python 점수 입력 >>"))
ml = int(input("머신러닝 점수 입력 >>"))
dl = int(input("딥러닝 점수 입력 >>"))

print("합계 : {}".format(py+ml+dl))
print("평균 : {}".format((py+ml+dl)/3))


#sum = score1 + score2 + score3 # 총합
# avg = sum/3 # 평균

python 점수 입력 >>100
머신러닝 점수 입력 >>80
딥러닝 점수 입력 >>60
합계 : 240
평균 : 80.0

In [3]:
s = "x"
print(s*10)

xxxxxxxxxx

In [4]:
s = "안녕하세요"
print(s*2)

안녕하세요안녕하세요

In [6]:
num = int(input("정수 입력 >>"))
power = int(input("지수 입력>>"))
print("{}의 {}승은 {}입니다.".format(num,power, num**power))

정수 입력 >>2
지수 입력>>3
2의 3승은 8입니다.

In [2]:
b = 1

In [3]:
b = b+3
print(b)

4

In [4]:
a = 3
b = 7

print(a>b)
print(a <= b)
print(a==b)
print(a!=b)

False
True
False
True

In [1]:
a = 3
b = 7
not a < b

False