In [1]:
### 조건문

In [ ]:
if 조건문:

In [3]:
if True: #대문자 T
    print("실행문장 실행")

실행문장 실행

In [5]:
if False: # False 니까 실행 안됨.
    print("실행문장 실행")

In [6]:
money = 11000
if (money>10000) :
    print("택시를 탄다.")

택시를 탄다.

# 조건문 if else

In [8]:
money = 9000
if (money>10000):
    print("택시를 탄다.")
else:
    print("버스를 탄다.")

버스를 탄다.

In [10]:
num = int(input("정수 입력 >>"))
if num % 3 ==0 and num % 5 == 0 :
    print("3과 5의 배수입니다.")
else:
    print("3과 5의 배수가 아닙니다.")
    
# if num % 15 == 0 최소공배수를 넣는다.

정수 입력 >>15
3과 5의 배수입니다.

# 조건문 elif

In [14]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번쨰 정수 입력 >> "))

if num1>num2:
    print("num1이 더 크다.")
elif num1 < num2:
    print("num2가 더 크다.")

# 두 수가 똑같은 경우
else :
    print("두 수가 똑같습니다.")

첫 번째 정수 입력 >> 3
두 번쨰 정수 입력 >> 3
두 수가 똑같습니다.

In [17]:
score = int(input("점수 입력 >>"))
if score >=90 :
    print("{}점은 A학점 입니다.".format(score))
elif score >=80 :
    print("{}점은 B학점 입니다.".format(score))
elif score >=70 :
    print("{}점은 C학점 입니다.".format(score))
elif score >=60 :
    print("{}점은 D학점 입니다.".format(score))
else :
    print("{}점은 F학점 입니다.".format(score))

점수 입력 >>89
89점은 B학점 입니다.

# list 삭제 del, remove(값)

In [18]:
list7 = [0,1,2,3,4,5]
del list7[1]
list7

[0, 2, 3, 4, 5]

In [19]:
list7 = [0,1,2,3,4,5]
del list7[1:5]
list7

[0, 5]

In [20]:
list7 = ['a', 'b', 'c', 'd', 'e']
list7.remove('b')
list7

['a', 'c', 'd', 'e']

In [22]:
list7.remove('b')

ValueError: list.remove(x): x not in list

# list 정렬 리스트.sort()

In [24]:
list8 = [9,77, 13, 51, 100, 3]
list8

list8.sort()
list8

[3, 9, 13, 51, 77, 100]

# 리스트 순서 거꾸로 뒤집기 리스트.reverse()

In [26]:
list9 = [9,77,13,51,100,3]
list9

list9.reverse()
list9

[3, 100, 51, 13, 77, 9]

# 리스트 정렬 후 내림차순 하기.

In [30]:
list10 = [9, 77,13, 51, 100, 3]
list10

list10.sort()
list10

list10.reverse()
list10

[100, 77, 51, 13, 9, 3]

# 리스트 값 위치 반환 및 제거 리스트.index(), 리스트.pop()

In [32]:
list11 = ['a', 'b', 'c','d','e', 'f']
list11.index('f')

5

# 리스트.pop -마지막

In [33]:
list12 = ['a', 'b', 'c', 'd', 'e','f']
list12.pop()

'f'

In [34]:
list12

['a', 'b', 'c', 'd', 'e']

# 리스트 값의 개수 확인 len(리스트)

In [35]:
list13 = [0,1,2]
len(list13)

3

In [36]:
list14 = ['a', 'b,', 'c', 'd','e', 'f']
len(list14)

6